@model IEnumerable<Core.Unidade>
@{
    ViewData["title"] = "Index";
}
<style type="text/css">   
    table, tr {
        width: 100%;
    }

    th, td {
        text-align: left;
        width: 20%;
    }

    th {
        background-color: lightblue;
    }

    tr {
        background-color: lightgray;
    }

   
</style>

<h1>Unidades cadastradas</h1>
<p></p>
<div>
    <div>
        <form action="/unidades/registrar">
            <input type="submit" value="Registrar nova unidade"/>
            <p></p>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Identificação</th>
                    <th>Proprietario</th>
                    <th>Condominio</th>
                    <th>Endereço</th> 
                    
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var unidades in Model)
                    {
                <tr>
                    <td>@unidades.Endereco</td>
                    <td>@unidades.Proprietario</td>
                    <td>@unidades.Condominio</td>
                    <td>@unidades.Endereco</td>
                    
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>