
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.tittle = "Registrar";
}
<form asp-action="Registrar" asp-controller="inquilinos">
    
    <h2>Registro de inquilinos</h2>

    <div>
        <table>
            <tr>
                <td><label asp-for="Nome"></label></td>
                <td><input asp-for="Nome" /></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="Idade"></label></td>
                <td><input asp-for="Idade" /></td>
            </tr>
            <tr>
                @model Core.Inquilinos

                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="Telefone"></label></td>
                <td><input asp-for="Telefone" /></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input asp-for="Email" /></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="Sexo"></label></td>
                <td>
                    <select asp-for="Sexo" asp-items="Html.GetEnumSelectList<Core.Inquilinos.SexoDoInquilino>()">
                        <option selected="selected" value="">Opções</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Registrar" />
                </td>
            </tr>
        </table>
    </div>
</form>


