@model Core.Despesas

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.tittle = "Registrar";
}
<form asp-action="Registrar" asp-controller="despesas">

    <h2>Registro de despesas</h2>

    <div>
        <table>
            <tr>
                <td><label asp-for="Descricao"></label></td>
                <td><input asp-for="Descricao" /></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="TipoDespesas"></label></td>
                <td><input asp-for="TipoDespesas" /></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="Valor"></label></td>
                <td><input asp-for="Valor" /></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="VencimentoFatura"></label></td>
                <td><input type="text" asp-for="VencimentoFatura" /></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td><label asp-for="StatusPagamento"></label></td>
                <td>
                    <select asp-for="StatusPagamento" asp-items="Html.GetEnumSelectList<Core.Despesas.StatusDoPagamento>()">
                        <option selected="selected" value="">Opções</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Registrar" />
                </td>
            </tr>
        </table>
    </div>
</form>


